<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Gardener</title>
    <meta name="description" content="Automated Home Gardening">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />

    <!-- Place favicon.ico in the root directory 
       
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
       
        -->
</head>

<body>

    <h1>Gardener</h1>
    <h3>Automated Home Gardening</h3>


</body>

</html>